<section class="form ff-inter">
  <h1>Realize seu cadastro</h1>
  <form [formGroup]="form">
    <div class="content-form">
      <label for="cpfCnpj">CPF ou CNPJ</label>
      <input
        type="text"
        id="cpfCnpj"
        class="input"
        formControlName="cpfCnpjField"
        [value]="form.get('cpfCnpjField')?.value | cpfCnpjFormat"
        (input)="onInputChange($event)"
      >
      <div *ngIf="(form.get('cpfCnpjField')?.errors && form.get('cpfCnpjField')?.touched && !(form.get('cpfCnpjField')?.dirty)) || (submitAttempted && form.get('cpfCnpjField')?.errors && !(form.get('cpfCnpjField')?.dirty))" class="errors">
        Campo obrigatório
      </div>
      <div *ngIf="form.get('cpfCnpjField')?.errors?.['cpfCnpjInvalido'] && form.get('cpfCnpjField')?.dirty" class="errors">
        CPF ou CNPJ inválido.
      </div>
    </div>

    <div class="content-form">
      <label for="name">Nome do Produtor</label>
      <input
        type="text"
        id="name"
        class="input"
        formControlName="producerName"
      >
      <div *ngIf="form.get('producerName')?.errors && form.get('producerName')?.touched || (submitAttempted && form.get('producerName')?.invalid)" class="errors">Campo obrigatório</div>
    </div>

    <div class="content-form">
      <label for="farm-name">Nome da Fazenda</label>
      <input
        type="text"
        id="farm-name"
        class="input"
        formControlName="farmName"
      >
      <div *ngIf="form.get('farmName')?.errors && form.get('farmName')?.touched || (submitAttempted && form.get('farmName')?.invalid)" class="errors">Campo obrigatório</div>
    </div>

    <div class="content-selects">
      <div class="content-select-state">
        <label for="state">Estado</label>
        <select id="state" formControlName="state" class="custom-select .ff-roboto-mono" (change)="onStateChange()">
          <option *ngFor="let state of states" [value]="state">{{ state }}</option>
        </select>
        <div *ngIf="form.get('state')?.errors && form.get('state')?.touched || (submitAttempted && form.get('state')?.invalid)" class="errors">Campo obrigatório</div>
      </div>

      <div class="content-select-city">
        <label for="city">Cidade</label>
        <select id="city" formControlName="city" class="custom-select .ff-roboto-mono">
          <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
        </select>
        <div *ngIf="form.get('city')?.errors && form.get('city')?.touched || (submitAttempted && form.get('city')?.invalid)" class="errors">Campo obrigatório</div>
      </div>
    </div>

    <div >
      <div class="content-area">
        <div class="content-farm">
          <label for="farm-area">Área total da Fazenda <br>(em hectares)</label>
          <input type="text" id="farm-area" class="input-area" formControlName="farmArea"
            [value]="form.get('farmArea')?.value">
          <div class="errors">
            <div
              *ngIf="(form.get('farmArea')?.errors && form.get('farmArea')?.touched && !(form.get('farmArea')?.dirty)) || (submitAttempted && form.get('farmArea')?.invalid && !(form.get('farmArea')?.dirty))">
              Campo obrigatório</div>
            <div *ngIf="form.get('farmArea')?.errors?.['hectaresInvalidos'] && form.get('farmArea')?.dirty">Valor inválido
              em hectares</div>
          </div>
        </div>

        <div class="content-arable">
          <label for="arable-area">Área agricultável <br>(em hectares)</label>
          <input type="sting" id="arable-area" class="input-area" formControlName="arableArea">
          <div class="errors">
            <div
              *ngIf="(form.get('arableArea')?.errors && form.get('arableArea')?.touched && !(form.get('arableArea')?.dirty)) || (submitAttempted && form.get('arableArea')?.invalid && !(form.get('arableArea')?.dirty))">
              Campo obrigatório</div>
            <div *ngIf="form.get('arableArea')?.errors?.['hectaresInvalidos'] && form.get('arableArea')?.dirty">Valor
              inválido em hectares</div>
          </div>
        </div>

        <div class="content-vegetation">
          <label for="vegetation-area">Área de vegetação <br>(em hectares)</label>
          <input type="string" id="vegetation-area" class="input-area" formControlName="vegetationArea">
          <div class="errors">
            <div
              *ngIf="(form.get('vegetationArea')?.errors && form.get('vegetationArea')?.touched && !(form.get('vegetationArea')?.dirty)) || (submitAttempted && form.get('vegetationArea')?.invalid && !(form.get('vegetationArea')?.dirty))">
              Campo obrigatório</div>
            <div *ngIf="form.get('vegetationArea')?.errors?.['hectaresInvalidos'] && form.get('vegetationArea')?.dirty">
              Valor inválido em hectares</div>
          </div>
        </div>
      </div>


      <div class="errors">
        <div *ngIf="form.hasError('areasExceeded') && form.get('arableArea')?.dirty && form.get('vegetationArea')?.dirty">
          A soma das áreas agricultáveis e de vegetação não pode exceder a área total da fazenda.
        </div>
      </div>
    </div>

    <div class="content-planted-crops">
      <p>Culturas Plantadas:</p>
      <div *ngFor="let cropControl of plantedCropsLabels; let i = index" class="custom-checkbox">
        <label>
          <input type="checkbox" [formControl]="getPlantedCropControl(i)" /> {{ cropControl }}
        </label>
      </div>
    </div>

    <div class="buttons">
      <button class="button-register" (click)="salveRegister()">Salvar</button>
      <button class="button-cancel" (click)="cancel()">Cancelar</button>
    </div>

  </form>
</section>

<!--
  Funcionalidade faltantes:
  - Culturas selecionadas devem vim com os nomes que foram registrados na label e não como true ou false
  - Criar um alert no cancelar, pedindo confirmação de cancelamento do cadastro

  Layout
  - Estilizar as String dos selects depois que a opção é selecionada
 -->
