.form {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-right: 200px;
  padding-left: 200px;
}

.content-form{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.content-form form {
  display: flex;
  flex-direction: column;
}

.form form .input {
  border: none;
  height: 40px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 5px;
  background-color: #cce0e0;
}

.input-area {
  border: none;
  height: 40px;
  width: 150px;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 5px;
  background-color: #cce0e0;
  display: flex;
  flex-direction: column;
}

.content-farm, .content-arable {
  margin-right: 60px;
}

.content-selects, .content-area, .content-planted-crops {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.custom-select {
  font-family: Arial, sans-serif;
  font-size: 14px;
  border: none;
  height: 60px;
  width: 400px;
  border-radius: 20px;
  margin-top: 5px;
  background-color: #cce0e0;
  display: flex;
  flex-direction: column;
}

.custom-checkbox input{
  margin-right: 10px;

}

.custom-checkbox {
  align-items: center;
  margin-top: 10px;
}

.content-planted-crops {
  display: flex;
  flex-direction: column;
}

.errors {
  margin-top: 5px;
  color: red;
}

.buttons{
  display: flex;
  justify-content: center;

  .button-cancel, .button-register {
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 20px;
    background-color: #48a1af;
    cursor: pointer;
  }

  .button-cancel:hover{
    background-color: gray;
  }

  .button-register:hover{
    background-color: #e2bd86;
  }
}


@media (max-width: 1000px) {
  .content-selects, .content-area, .content-planted-crops  {
    flex-direction: column;
  }

  .content-arable, .content-vegetation {
    margin-top: 20px;
  }
}


