<section class="content-list">
  <h2>Produtores Rurais Cadastrados:</h2>
  <div *ngIf="registeredItems.length > 0">
    <div *ngFor="let register of registeredItems">
      <app-producer [register]="register"></app-producer>
    </div>
  </div>

  <div *ngIf="registeredItems.length === 0">
    <p>Nenhum Produtor Rural cadastrado</p>
  </div>
</section>

<!--
  - Criar lista de produtores com suas informações :
      - com botão direcionando para a tela de editar
      - botão de excluir que abre o alert confirmando a exclusão
 -->
